@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на заявката.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим на разработка</h3>
<p>
    Превключването към среда <strong>Development</strong> ще покаже по-подробна информация за възникналата грешка.
</p>
<p>
    <strong>Средата Development не бива да се активира за публикувани приложения.</strong>
    Това може да доведе до показване на чувствителна информация от изключенията на крайните потребители.
    За локално дебъгване активирайте средата <strong>Development</strong>, като зададете променливата на средата <strong>ASPNETCORE_ENVIRONMENT</strong> на стойност <strong>Development</strong>
    и рестартирате приложението.
</p>
